* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;

}

.part1 {
    position: relative;

}

.nav {
    width: 100%;
    height: 15%;
    background-color: #3B5D50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4vw;
    padding-right: 4vw;
    color: white;

}

.nav-part2 {
    display: flex;
    gap: 3vw;
    position: relative;
    top: 4.5vh;
    color: hwb(155 71% 17% / 0.893);
    font-size: 1.3vw;
    /* font-weight: 900; */
}

.nav h1 {
    position: relative;
    top: 4.5vh;

}

.part1-container {
    width: 100%;
    height: 85vmin;
    background-color: #3B5D50;
    display: flex;
    color: white;

}

.container-left {
    width: 30%;
    height: 65%;
    /* background-color: chocolate; */
    position: relative;
    padding-left: 4vw;
    top: 25%;
}

.container-left h1 {
    font-size: 3vw;
    letter-spacing: 0.12vw;
}

.container-left p {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

/* .container-left button{
    width: 10vw;
    height: 7vh;
    font-size: large;
} */

.container-left .button-1 {
    width: 10vw;
    height: 7vh;
    font-size: large;
    background-color:#F8B810;
    color: black;
    border-radius: 4vw;
    border: none;
}

.container-left .button-2 {
    width: 8vw;
    height: 7vh;
    font-size: large;
    background-color: transparent;
    color: white;
    border-radius: 4vw;
    border: 1px solid #a8beb6;
}

.container-right {
    width: 55%;
    height: 70%;
    /* background-color: #cdc6c1; */
    position: relative;
    background-image: url(images/couch.png);
    background-position: center;
    background-size: cover;
    top: 25%;
    object-fit: cover;
    left: 12vw;
}

.nav-part2 h5:hover {
    color: white;
    text-decoration: #d3d35a underline;
}

.container-left .button-2:hover {
    border: 2px solid white;
}

/* part-2 */

.part2 {
    width: 100%;
    height: 90vmin;
    position: relative;
    display: flex;
    background-color: #EFF2F1;
}

.part2-text {
    height: 30vh;
    width: 27vw;
    position: relative;
    padding-left: 4vw;
    top: 25%;
}

.part2-image {
    height: 55vh;
    width: calc(100vw - 27vw);

    display: flex;
    position: relative;
    top: 20vh;
}


.part2-text h5 {
    font-size: 2.0vw;
    letter-spacing: 0.12vw;
}

.part2-text p {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.part2-text button {
    width: 10vw;
    height: 7vh;
    font-size: large;
    background-color: #222222;
    color: white;
    border-radius: 4vw;
    border: none;
}

.part2-image1 {
    height: 100%;
    width: 30%;

}

.part2-image1 h3,
h4 {
    text-align: center;
    margin-bottom: 1vh;
}

.part2-image1 div {
    height: 80%;
    width: 100%;
    background-image: url(images/product-1.png);
    background-position: center;
    background-size: cover;
    object-fit: cover;

    margin-bottom: 4vh;
}

.part2-image2 h3,
h4 {
    text-align: center;
    margin-bottom: 1vh;
}

.part2-image2 {
    height: 100%;
    width: 30%;

    position: relative;
}

.part2-image2 div {
    height: 80%;
    width: 100%;
    background-image: url(images/product-2.png);
    background-position: center;
    background-size: cover;
    object-fit: cover;

    margin-bottom: 4vh;
}

.part2-image3 {
    height: 100%;
    width: 30%;

    position: relative;

}

.part2-image3 h3,
h4 {
    text-align: center;
    margin-bottom: 1vh;
}

.part2-image3 div {
    height: 80%;
    width: 100%;
    background-image: url(images/product-3.png);
    background-position: center;
    background-size: cover;
    object-fit: cover;

    margin-bottom: 4vh;
}

/* part-3 */

.part3 {
    width: 100%;
    height: 135vmin;
    /* position: relative; */
    display: flex;


}

.part3-text {
    height: 75vh;
    width: 55vw;
    position: relative;
    top: 25vh;
    left: 4vw;
    padding-right: 7vw;
    margin-right: 5vw;
}

.text-part1 {
    width: 100%;
    height: 25%;

}

.part3-image {
    width: 41vw;
    height: 88vh;

    position: relative;
    top: 25vh;
    /* right: -2vw; */

}

.part3-image div {
    width: 90%;
    height: 100%;
    background-image: url(images/why-choose-us-img.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 2vw;
}

.text-part2 {
    width: 100%;
    height: 75%;

}

.text-part2-child1 {
    width: 100%;
    height: 50%;
    position: relative;

    display: flex;
}

.text-part2-child1-box1 {
    width: 50%;
    height: 100%;

    position: relative;

}

.text-part2-child1-box2 {
    width: 50%;
    height: 100%;

}

.text-part1 h5 {
    font-size: 2.0vw;
    letter-spacing: 0.12vw;
}

.text-part1 p {
    margin-top: 1vh;
    margin-bottom: 3vh;

}

.box1-logo {
    height: 4.6vh;
    width: 2.3vw;
    background-color: #CBD5D1;
    border-radius: 50%;
    position: relative;
    left: -1.7vw;
    display: inline-block;
    z-index: -1;
}

.box1-info span {
    font-weight: 600;
    padding: 0.5vw 0.5vw;
}

/*  start part-4 */

.part4 {
    width: 100%;
    height: 130vmin;

    display: flex;

}

.part4-image {
    height: 110vh;
    width: 54vw;
    position: relative;
    top: 10vh;
    left: 4vw;
    margin-right: 8vw;

    display: flex;
    justify-content: space-between;
}


.part4-text {
    width: 33vw;
    height: 55vh;
    position: relative;
    top: 10vh;
    /* margin-left: 1vw; */

}

.part4-image1 {
    height: 80%;
    width: 65%;

}

.part4-image1 div {
    height: 100%;
    width: 100%;
    background-image: url(images/img-grid-1.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 2vw;
}

.part4-image2 {
    height: 29%;
    width: 32%;

}

.part4-image2 div {
    height: 100%;
    width: 100%;
    background-image: url(images/img-grid-2.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 2vw;
}

.part4-image3 {
    height: 64%;
    width: 50%;

    position: absolute;
    top: 35vh;
    left: 27vw;
}

.part4-image3 div {
    height: 100%;
    width: 100%;
    background-image: url(images/img-grid-3.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 2vw;
}

.part4-text h5 {
    font-size: 2.0vw;
    letter-spacing: 0.12vw;
}

.part4-text p {
    line-height: 3.5vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.part4-text button {
    width: 10vw;
    height: 7vh;
    font-size: large;
    background-color: #222222;
    color: white;
    border-radius: 4vw;
    border: none;
}

.point-text {
    height: 23vh;
    width: 100%;


}

.point-text-part1 {
    height: 50%;
    width: 100%;

    display: flex;
    /* align-items: center; */
    padding: 1.5vw;

}

.point-text-part1 div {
    height: 50%;
    width: 50%;

    margin-bottom: 1.5vw;
}

/* started part-5 */

.part5 {
    width: 100%;
    height: 40vmin;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    /* align-items: center; */
}

.part5-service1 {
    position: relative;
    top: 4vh;
    width: 28%;
    height: 40%;

    display: flex;

}

.part5-service1-image {
    height: 100%;
    width: 26%;
    border-radius: 2vw;
    background-color: #DCE5E4;
    margin-right: 1.8vw;
}

.part5-service1-text {
    height: 100%;
    width: 70%;


}

.part5-service1-text h5 {
    font-size: medium;
}

.part5-service1-text p {
    line-height: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.part5-service1-image div {
    height: 110%;
    width: 100%;
    background-image: url(images/product-1.png);
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.part5-service2 {
    position: relative;
    top: 4vh;
    width: 32%;
    height: 40%;

    display: flex;

}

.part5-service2-image {
    height: 100%;
    width: 26%;
    border-radius: 2vw;
    background-color: #DCE5E4;
    margin-right: 1.8vw;
}

.part5-service2-text {
    height: 100%;
    width: 70%;


}

.part5-service2-text h5 {
    font-size: medium;
}

.part5-service2-text p {
    line-height: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.part5-service2-image div {
    height: 110%;
    width: 100%;
    background-image: url(images/product-2.png);
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.part5-service3 {
    position: relative;
    top: 4vh;
    width: 28%;
    height: 40%;

    display: flex;

}

.part5-service3-image {
    height: 100%;
    width: 26%;
    border-radius: 2vw;
    background-color: #DCE5E4;
    margin-right: 1.8vw;
}

.part5-service3-text {
    height: 100%;
    width: 70%;


}

.part5-service3-text h5 {
    font-size: medium;
}

.part5-service3-text p {
    line-height: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.part5-service3-image div {
    height: 110%;
    width: 100%;
    background-image: url(images/product-3.png);
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

/* started part-6 */

.part6 {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(183, 183, 179);
    position: relative;

}

/* started part-7 */

.part7 {
    width: 100%;
    min-height: 114vh;

    position: relative;
    top: 20vh;
}

.part7-text {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5vw;
}

.part7-card {
    width: 100%;
    height: 54vh;

    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */

}

.card1 {
    width: 28%;
    height: 75%;


}

.card1 div {
    height: 100%;
    width: 100%;
    background-image: url(images/post-1.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 2vw;
}

.card2 {
    width: 28%;
    height: 75%;


}

.card2 div {
    height: 100%;
    width: 100%;
    background-image: url(images/post-2.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 2vw;
}

.card3 {
    width: 28%;
    height: 75%;


}

.card3 div {
    height: 100%;
    width: 100%;
    background-image: url(images/post-3.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    border-radius: 2vw;
}

/* started part-8 */
.part8 {
    width: 100%;
    min-height: 100vh;
  
    position: relative;
}

.part8-info {
    height: 16vh;
    width: 50vw;
    
    position: relative;
    top: 10vh;
    left: 3vw;
    padding: 2vw 2vw;
}


.part8-info input {
    height: 7vh;
    width: 18vw;
    margin-right: 1vw;
    border-radius: 0.7vw;
    
}

.part8-info button {
    height: 7vh;
    width: 5vw;
    background-color: #3B5D50;
    border-radius: 0.7vw;
    
    
}

.part8-info button i {
    color: white;
}

.part8-image {
    width: 25vw;
    height: 45vh;
   
    position: absolute;
    right: 3vw;
    bottom: 70vh;

}

.part8-image div {
    height: 100%;
    width: 100%;
    background-image: url(images/sofa.png);
    background-position: center;
    object-fit: cover;
    background-size: cover;

}

.part8-detail {
    width: 100%;
    height: 60vh;
   
    position: relative;
    top: 25vh;
}
.part8-detail h1{
    /* position: relative; */
    padding-left: 5vw;
}


.footer {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 4vh;
}

.part8-des {
    height: 35vh;
    width: 29vw;
   
    padding-left: 2vw;
}

.part8-about {
    height: 35vh;
    width: 60vw;
 
    display: flex;
    position: relative;
    justify-content: space-evenly;
}

.part8-about1{
    height: 100%;
    width: 19%;
    
    
}

.part8-des-media{
    height: 7vh;
    width: 17vw;
  
    display: flex;
    justify-content: space-evenly;
  
    
}

.part8-des-media div{
    height: 100%;
    width: 20%;
    background-color: #DCE5E4;
    border-radius: 50%;
  
    display: flex;
    align-items: center;
    justify-content: center;
}

